## IMPORTING ALL THE NECESSARY LIBRARIES

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import math
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error , mean_absolute_error

In [8]:
df=yf.download('BTC-USD' , start='2018-01-01' , end='2022-01-31')

[*********************100%***********************]  1 of 1 completed

In [9]:
df.to_csv('BTC-USD.csv')

In [11]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2022-01-26,36950.515625,38825.410156,36374.906250,36852.121094,36852.121094,31324598034
2022-01-27,36841.878906,37148.324219,35629.281250,37138.234375,37138.234375,25041426629
2022-01-28,37128.445312,37952.878906,36211.109375,37784.332031,37784.332031,22238830523
2022-01-29,37780.714844,38576.261719,37406.472656,38138.179688,38138.179688,17194183075
2022-01-30,38151.917969,38266.339844,37437.710938,37917.601562,37917.601562,14643548444

In [ ]:
plt.plot(df['Close'])